/* DBCA CKAN Data Catalogue Theme. */

/* Fix Flask Debug toolbar scrolling */
#flDebug,
#flDebug * {
    overflow-y: auto;
}

/* doi/snippets/package_citation.html Override */
#citation-status {
    /* This aligns children in a row */
    display: flex;
    /* This vertically centers the items in the container */
    align-items: center;
    /* Adds space between the children */
    gap: 10px;
}