{% ckan_extends %}

{% block social_nav %}
    <ul class="nav nav-simple">
        {% set doi_link = 'https://doi.org/' + g.pkg_dict['doi'] if g.pkg_dict['doi'] else current_url %}
        <li class="nav-item"><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ doi_link }}" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a></li>
        <li class="nav-item"><a href="https://twitter.com/share?url={{ doi_link }}" target="_blank"><i class="fa-brands fa-twitter-square"></i> Twitter</a></li>
        <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ doi_link }}" target="_blank"><i class="fa-brands fa-facebook-square"></i> Facebook</a></li>
    </ul>
{% endblock %}