<footer class="dbca-footer">
  <div class="row">
    <div class="dbca-footer-ack">
      <h2>Acknowledgement of Country</h2>
      <p>The Government of Western Australia acknowledges the traditional custodians throughout Western Australia and
        their continuing connection to the land, waters and community. We pay our respects to all members of the
        Aboriginal communities and their cultures; and to Elders past, present, and emerging.</p>
    </div>

    <nav role="navigation" class="dbca-footer-nav">
      <ul>
        <li>
          <a href="https://wa.gov.au">WA.gov.au</a>
        </li>
        <li>
          <a href="https://dbca.wa.gov.au/copyright">Copyright</a>
        </li>
        <li>
          <a href="https://dbca.wa.gov.au/privacy">Privacy</a>
        </li>
        <li>
          <span>© Government of Western Australia 2024</span>
        </li>
      </ul>
    </nav>
  </div>
</footer>
